<div id="spPropertyPaneContainer" class="spPropertyPaneContainer showPane">
    <div class="propertyPane">
        <div class="propertyPaneTitleBarBox">
            <div class="propertyPaneTitleBar">
                <div class="propertyPanePageTitle ms-font-xl ms-fontWeight-light">Configuration</div>
                <uif-icon uif-type="x" class="ms-fontColor-white ms-fontWeight-light propertyPaneClose"></uif-icon>
            </div>
        </div>

        <div class="propertyPanePageContent">
            <div class="propertyPaneGroupContent">
            <div ng-repeat="field in vm.GetPropertyPaneSettings().pages[0].groups[0].groupFields">
                <propertypane></propertypane>
            </div>

                <uif-button uif-type="primary" data-ng-click="vm.SaveConfig($event)" prevent-default>Save</uif-button>
                <uif-button uif-type="primary" _action="save" data-ng-click="vm.SaveConfig($event);" onclick="CoreInvoke('PageActionClick', this);return false;" prevent-default>Save &amp; Close</uif-button>
                <uif-message-bar ng-show="vm.configSaved" ng-cloak uif-type="success"><uif-content>Configuration Settings Saved</uif-content></uif-message-bar>
            </div>
        </div>
    </div>
</div>